@import { url('~/platform.css') };

Page{
	background-color: black;
	font-family: Menlo;
	font-size: 12;
}

.type{
	color: #62d5e4;
}

.functionTitle{
	color: #a8e100;
}

.plain{
	color: white;
}

.number{
	color: #ac80fa;
}

.statement{
	color: #fb3374;
}

.str{
	color: #e5e07f;
}

.indent0{
	margin-left: 5;
}

.indent1{
	margin-left: 20;
}

.indent2{
	margin-left: 40;
}

.indent3{
	margin-left: 60;
}

.indent4{
	margin-left: 80;
}

.oneChar{
	width: 18;
	text-align: center;
}

.twoChar{
	width: 30;
	text-align: center;
}

.fiveChar{
	width: 55;
	text-align: center;
}

.big{
	width: 90;
	text-align: center;
}

.description1{
	padding-top: 12;
	color: #9bc4e3;
	text-align: center;
}

.description2{
	color: #9bc4e3;
	text-align: center;
}

.description3{
	padding-bottom: 36;
	color: #9bc4e3;
	text-align: center;
}
.descriptionSingle{
	padding-top: 12;
	padding-bottom: 36;
	color: #9bc4e3;
	text-align: center;
}

TextField{
	background-color: white;
	border-width: 1;
  color: black;
	height: 18;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

WrapLayout{
	margin-top: 4;
}
