Page {
    background-color: #f4f4f4;
}

.list-image {
    margin: 15;
    margin-right: 25;
}

.list-arrow {
    margin-right: 30;
}

#navHeader{
	  /*border-width: 2;*/
	  /*border-color: blue;*/
	  border-color: #b1b4b4;
	  background-color: #d8dada;
	  padding: 12;
	  font-weight: bold;
	  font-size: 20;
    border: black;
    border-width: 2;
    text-align: center;
    /*margin-bottom: 15;*/
    color:#0177e8;
    /*margin-top: 20;*/
}

.elts{
	  margin-top: 15;
    background-color: white;
    border-color: #a6a6a6;
    border-width: 1;
    /*margin-bottom: 15;*/
}

.rank{
	  /*border-width:3;*/
	  margin-top: 15;
	  padding: 10;
	  font-weight: bold;
	  font-size: 35;
	  text-align: left;
	  padding-left: 20;
	  color: #07DD07;
}

.pts{
	  margin-top: 5;
	  font-size: 15;
	  color: #a6a6a6;
}


.lname{
	  margin-top: 20;
	  font-weight: bold;
	  font-size: 20;
}

.categoryTitle {
    font-size: 18;
    color:#414141;
}
.arrow {
    font-size: 18;
    color:#414141;
}

.boxHeader {
	padding-left: 30;
	margin-bottom: 15;
  
/*	border-bottom: #ECF0F1;
    border-width: 1;*/
}

.spacer {
    border-color: #b1b4b4;
	  background-color: #d8dada;
    border-width: 2;
    color:#0177e8;
}

TextField {
    margin: 10;
    padding: 10;
    border-color: #a6a6a6;
    border-width: 1;
    border-radius: 6;
    background-color: white;
}

#nameVal{
    color: #07DD07;
    font-size: 30;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

#emailAddr{
    text-align: center;
    margin-bottom: 35;
}

.challenges{
    text-align: center;
    border: none;
    background-color: transparent;
    border-color: transparent;
    padding: 2;
}

.points{
    font-weight: bold;
    color: #07DD07;
    font-size: 20;
    text-align: center;
}

#pointNum{
    padding: 6;
    border-width: 4;
    background-color: white;
    color: #07DD07;
    font-size: 20;
    border-color: #07DD07;
    font-weight: bold;
    width: 95;
    height: 95;
    border-radius: 45;
    margin-bottom: 35;
}

.link{
    border-color: transparent;
    background-color: #0177e8;
    /*border-width: 2;*/
    border-radius: 4;
    height: 35;
    width: 90;
    color: white;
}

#title{
    border: black;
    border-width: 4;
    width: 150;
    text-align: center;
    margin-top: 120;
}

#registerPrompt{
    font-size: 10;
}

/*.tabItem {
    background-color: #808080;
}*/

.ios-tab-view {
    background-color: white;
    color: #808080; /* this keeps the tap bar the correct gray when unselected */
}

/*.bracketBarTitle {
    color:#07DD07;
    font-weight: bold;
    font-size:19;
}

.tabViewTitle {
    color:#414141;
    font-weight: bold;
    font-size:19;
}*/