@import { url('~/platform.css') };

.link{
    border-color: transparent;
    background-color: #0177e8;
    /*border-width: 2;*/
    border-radius: 4;
    height: 35;
    width: 90;
    color: white;
}
